<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyC-pzOEfWXGTvrcLeteww7ncMtdaZkmzro",
        authDomain: "echacks-892cd.firebaseapp.com",
        databaseURL: "https://echacks-892cd.firebaseio.com",
        projectId: "echacks-892cd",
        storageBucket: "echacks-892cd.appspot.com",
        messagingSenderId: "347758818524"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
    </script>
    <script src="js/fitbit.js"></script>
  </body>
</html>
