<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <script>
  window.onload = function() {
    //window.location.replace('https://echacks-892cd.firebaseapp.com/landing?' + decodeURI(window.location.hash.substring(1)));
    let hash = decodeURI(window.location.hash);
    let vars = {};
    hash.replace(/[#&]+([^=&]+)=?([^&]*)?/gi, (m, key, value) => {
      vars[key] = value;
    });
    fetch('https://api.fitbit.com/1/user/' + vars.user_id + '/profile.json', {
      'method': 'GET',
      'headers': {
        'Authorization': 'Bearer ' + vars.access_token
      }
    }).then(res => res.json()).then(data => console.log(data)).catch(err => console.log(error));
  }
  </script>
  </body>
</html>
