<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css  " />
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body>
    <div class="left">
        <header>

            <img src="FinalLogo.png" id="logoimg">

            <h1>Medi-<span style="color:rgb(71, 80, 134)">Sync</span></h1>
        </header>

        <div class="container">
            <div id="toleft">
                <section id="stats1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non
                </section>

                <canvas id="graph1">

                </canvas>
            </div>

            <section class="tile1">

            </section>
            <section class="tile1">

            </section>
            <section class="tile1">

            </section>
            <section class="tile2">


            </section>
            <section class="tile2">


            </section>
            <section class="tile2">


            </section>
            <section class="tile2">


            </section>
            <section id="graph2">

            </section>
        </div>
    </div>

    <div class="right">
        <div class id="container">
            <h2>{{code}}</h2>


            <section>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            </section>
            <section>

            </section>

            <section>

            </section>



        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="css/app.js"></script>
</body>

</html>
