<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/master.css  " />
    <script src="main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>

<body>
    <div class="left">
        <header>

            <img src="img/FinalLogo.png" id="logoimg">

            <h1>Medi-<span style="color:rgb(227,45,45)">Sync</span></h1>
        </header>

        <div class="container">
            <div id="toleft">
                <section id="stats1">
                    <section class="tile3">
                        You slept ____ hours last night
                        You had ____ hours of physical activity yesterday
                    </section>

                </section>

                <canvas id="graph1">

                </canvas>
            </div>

            <section class="tile1">
                Average Sleep:
            </section>
            <section class="tile1">
                BMR:
            </section>
            <section class="tile1">
                Average Daily Physical Activity:
            </section>

            <section class="tile1">
                Average Heartrate:
            </section>
            <section class="tile2">
                Diagnosis:
                
            </section>
            <section class="tile2">
                Current Medication/Treatment:

            </section>
            <section class="tile2">
                Vaccinations:

            </section>

            <section id="graph2">

            </section>
        </div>
    </div>

    <div class="right">
        <div class id="container">
            <p style="font-size:225%">{{code}}</p>


            <section id="righthead">
            </section>
            <section>
                <button class="button">Share my info</button>
            </section>

            <section>

            </section>



        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="css/app.js"></script>
</body>

</html>