<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

</head>

<body>
    <img src="img/landingPageWallpaperV2.png" id="bg">


        <div id="login">
            MEDI-<span style="color:rgb(227,45,45)">SYNC</span>
            <button class="button" onclick="location.href='https://echacks-892cd.firebaseapp.com/auth';">Sign In</button>

        </div>




</body>

</html>
