::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: 0 0 1em 1em;
  padding: 0;
}
header {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin-left: 1em;
}
button{
  background-color:rgb(49, 74, 218);
  color:white;
  font-size:120%;
  font-family: "Varela Round", sans-serif;
  border:none;
  height:150%;
  padding:4%;
  width:100%;
  margin-right:0.5em;
  margin-top:1em;
  cursor:pointer;
}
button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.left {
  float: left;
  background-color: white;
  padding: 0%;
  width: 70%;
  height: 100%;
  margin: 0;
  color:#08122a;
}
.right {
  float: right;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #08122a;
  width: 27%;
  min-height: 48em;
  margin: 0;
  padding: 1%;
  color: white;
}
.container {
  margin: 0;
  width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tile1 {
  width: 30%;
  height: 7em;
  margin: 1%;
  margin-bottom: 1%;
  background-color: #96a6cc;
}
.tile2 {
  width: 22%;
  height: 5em;
  margin: 1%;
  background-color: #e32d2d;
}
.tile3 {
  width: 100%;
  height: 70%;
  margin:0em;
  margin-bottom: 1em;

}
#toleft {
  margin: 0;
  width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
#graph1 {
  position:relative;
  height:100%;
  width:68%;
  margin-right: 0;
}
#stats1 {
  height: 100%;
  width: 30%;
  padding: 1%;
}
#logoimg {
  width: 10%;
  height: 10%;
  margin-left:3.2%;
}
